:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}


* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);

}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 48px;
    margin: 0 auto;
    padding: 20px;
}

footer h5 {
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
}   

footer a {
    display: flex;
    align-items: center;
}

footer a img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}
